version: '3.8'

services:
  scraper:
    environment:
      - TZ=Europe/Belgrade
    build: .
    container_name: scraper
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped