version: '3.8'
services:
  scraper:
    environment:
      - TZ=Europe/Belgrade
    build: .
    container_name: scraper
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped